bindMethod="Simple"
groupBaseDn="ou\=groups,dc\=example,dc\=com"
kdcAddress=""
ldapBindUserDn="cn\=admin"
loginUserAttribute="uid"
memberNameAttribute="member"
membershipUserAttribute="uid"
objectClass="groupOfNames"
overrideCertDn=B"false"
password="secret"
propertyFileLocation="etc/ws-security/attributeMap.properties"
realm=""
service.factoryPid="Claims_Handler_Manager"
service.pid="Claims_Handler_Manager.777aa808-ac8b-4b7a-a7f5-3fb346af0ba7"
startTls=B"false"
url="ldaps://${org.codice.ddf.ldap.hostname}:${org.codice.ddf.ldap.port}"
userBaseDn="ou\=users,dc\=example,dc\=com"
