autoPush=B"$_auto_push"
id="$_id"
name="$_name"
password="$_password"
pullAllowed=B"$_pull"
pushAllowed=B"$_push"
registryUrl="$_url"
service.factoryPid="Csw_Registry_Store"
service.pid="$_pid"
shortname="$_short_name"
username="$_username"
