autoPush=B"$_auto_push"
name="$_name\ (CSW\ Registry\ Store)"
password="$_password"
pullAllowed=B"$_pull"
pushAllowed=B"$_push"
registryUrl="$_url"
service.factoryPid="Csw_Registry_Store"
service.pid="$_pid"
shortname="$_short_name\ (CSW\ Registry\ Store)"
username="$_username"
