$name
connectionTimeout=I"30000"
coordinateOrder="LON_LAT"
cswUrl="$url"
disableCnCheck=B"false"
eventServiceAddress=""
forceSpatialFilter="NO_FILTER"
id="$name"
isCqlForced=B"false"
metacardMappings=[ \
  "effective\=created", \
  "created\=dateSubmitted", \
  "modified\=modified", \
  "thumbnail\=references", \
  "content-type\=type", \
  "id\=identifier", \
  "resource-uri\=source", \
  ]
outputSchema="http://www.opengis.net/cat/csw/2.0.2"
password="$password"
pollInterval=I"5"
queryTypeName="csw:Record"
queryTypeNamespace="http://www.opengis.net/cat/csw/2.0.2"
receiveTimeout=I"60000"
registerForEvents=B"false"
securityAttributeStrings=[ \
  ]
service.factoryPid="Csw_Federated_Source"
service.pid="Csw_Federated_Source.$pid"
shortname="$name"
usePosList=B"false"
username="$username"
