disableLegacyWorkarounds=B"false"
id="$name"
password="$password"
queryAddress="$url"
receiveTimeout=L"0"
service.factoryPid="MDF_JSON_Connected_Source"
service.pid="MDF_JSON_Connected_Source.$pid"
shortname="$name"
siteAddress=""
subscription=B"false"
subscriptionCriteria=""
username="$username"
