bindMethod="Simple"
groupBaseDn="ou\=groups,dc\=example,dc\=com"
kdcAddress=""
ldapBindUserDn="cn\=admin"
ldapBindUserPass="secret"
ldapUrl="ldaps://${org.codice.ddf.ldap.hostname}:1636"
realm=""
service.factoryPid="Ldap_Login_Config"
service.pid="Ldap_Login_Config.adc0aef4-a993-4291-b207-74a28c2c420d"
startTls=B"false"
userBaseDn="ou\=users,dc\=example,dc\=com"
userNameAttribute="uid"
